@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  font-family: "lato", sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  margin: 0 auto;
}
.profile {
display: flex;
background-color: rgb(194, 101, 24);
width: 100%;
padding: 10px;
align-items: center;
}
.profile img {
max-width: 90%;
height: auto;
border: 3px solid rgba(194, 193, 191, 0.7);
box-shadow: 0 0 30px rgb(83, 75, 75);
align-content:center;
margin-right: 3px;
} 
.name {
color: rgb(0, 0, 0);
font-size: 1.5rem;
font-weight: 400;
margin-left: 10px;
}   
/* small view navigation */
#menu {
	font-size: 2rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 0.5rem;
  right: 0;
	margin-right: 15px;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "X";
}
.navigation {
	display: flex;
	flex-direction: column;
	background-color: #333;
	color: #fff;
}
.navigation a {
	display: none;
	padding: 1rem;
  margin: 0;
	text-align: center;
	text-decoration: none;
	color: #fff;
  font-weight: 700;
}
.navigation a:hover {
	background-color: rgb(194, 101, 24, 0.7);	
}
/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}
.active {
  background-color: rgb(194, 101, 24, 0.4);
}
main {
  margin: 0 auto;
  width: 90%;
}
main h1 {
  font-size: 1.4rem;
  margin: 15px 3px 15px 0;
  padding: 2px;
  border-bottom: 2px solid gray;
}
h2 {
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: rgb(194, 101, 24);
  margin-bottom: 10px;
  border-radius: 5px 5px 0 0;
}
.grid-container section {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0 30px rgb(83, 75, 75, 0.2);
}
.info-placeholders {
  text-align: center;
}
a {
  color: rgb(15, 22, 221);
} 
.learning_activities {
  font-size: 13px;
  color: black;
  margin-left: -25px;
}  
li {
list-style: none;
line-height: 2;
}
.card {
  padding-bottom: 10px;
  margin-bottom: 15px;
  line-height: 2;
}
.learning_activities a {
  margin: 5px;
}
footer {
  text-align: center;
  padding: 15px;
  margin-top: 25px;
  background-color: #333;
  color: #fff;
}
  
  
