@media (min-width: 768px) {

* {
  max-width: 800px;
}
header {
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
}
nav {
  display: flex;
}
nav a {
  font-weight: 700;
}
nav a:hover {
  background-color: rgb(194, 101, 24, 0.7);
}
main {
  margin-top: 3rem !important;
  padding-top: 7.5rem !important;
}
.name {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 700;
  margin-left: 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr; 
  gap: 20px;
}
.grid-container section {
  margin: 5px;
}
footer {
  border-top: 4px solid chocolate;
  text-align: center;
  padding: 25px;
  margin-top: 25px;
  background-color: #333;
  color: #fff;
}
}